# 문자열과 리스트의 이해
* find, strip(lstrip, rstrip), split, upper, lower, startswith
* len, range, list
* in, not in

In [53]:
a= "Apple" # A = 0, p = 1, p =2 센 숫자에서 -1

In [54]:
b='Banana'

In [5]:
type(a)

str

In [6]:
type(b)

str

In [7]:
print("Apple Banan")

Apple Banan

In [9]:
print(a + " " +  b)

Apple Banana

In [10]:
print(a, b)

Apple Banana

In [12]:
a.find("p", 2) # Apple  Ap/ ple

2

In [14]:
b.find("n", 3)

4

In [19]:
# 공백제거
c = "che rry"
c

'che rry'

In [17]:
print(c.rstrip()) # r = right 오른쪽
print(c.lstrip()) # l = Left 왼쪽
print(c.strip()) # 양쪽 공백 제거, 문자열 가운데의 공백은 제거하지 않는다.

   che rry
che rry
che rry

In [21]:
c.split() # default 공백 1칸

['che', 'rry']

In [22]:
c.upper()

'CHE RRY'

In [23]:
a.lower()

'apple'

In [24]:
a.find("a")

-1

In [25]:
a.find("A")

0

In [26]:
len(a)

5

In [27]:
len(c)

7

In [30]:
my_email = "yunjuan 18 @gmail.com"

In [37]:
my_list = my_email.split()
my_list[1] = 18
my_list

['yunjuan', 18, '@gmail.com']

In [40]:
z = ""
for i in my_list:
    z += str(i) # 타입이 다르기 때문에 더해지지가 않음

print(z)

yunjuan18@gmail.com

## 문자열과 리스트의 파싱

In [42]:
a[:] # 문자열 전체

'Apple'

In [43]:
a[2:4] # 2번 인덱스부터 3번인덱스까지 갖고옴, 4 - 2 => 2 2번 인덱스부터 2개를 갖고오겠다.

'pl'

In [46]:
my_list[1:] # 1번 인덱스부터 마지막 인덱스까지 모두 호출하겠다

[18, '@gmail.com']

# if-else(조건문)
* 참일때 어떠한 행동을 하겠다

In [47]:
if True: # 항상 참인 값
    pass
if False: # 항상 거짓인 값
    pass

In [49]:
if 5 > 2: # 5는 2보다 크기 때문에 항상 참
    pass

In [52]:
a = 15
b = 10
if a < b:
    print(a + b)
else: # if문이 거짓일 때, 대신하여 출력하겠다
    print(a - b)

5

In [57]:
if "A" not in a: # True를 False로 , False를 True
    print("그것은 사과입니다.")
else:
    print("그것은 바나나입니다.")

그것은 바나나입니다.

In [56]:
fruits =  [a, b]
fruits

['Apple', 'Banana']

### 학점계산기 만들기
이 수업에는 50점 만점의 중간고사와 50점 만점의 기말고사가 있는데요. 두 시험의 점수를 합해서 최종 성적을 내는 방식입니다. 규칙은 다음과 같습니다.

A: 90점 이상

B: 80점 이상 90점 미만

C: 70점 이상 80점 미만

D: 60점 이상 70점 미만

F: 60점 미만

In [ ]:
def print_grade(x, y):
    total = x + y

print_grade(40, 45)
print_grade(20, 35)
print_grade(30, 32)
print_grade(50, 45)

* try, except

# 예제

'2021 Apps학회'는 학회원들이 많아졌어요.

학회장님이 "빨리 대면으로 수업하고 싶다"라고 했어요. 여러분들은요?

greetings = ["안녕", "니하오", "곤니찌와", "올라", "싸와디캅", "헬로", "봉주르"]
1. 위 문자열에 "봉주르"가 있는지 bool값으로 출력
2. 위 문자열에 "Hello"가 있는지 bool값으로 출력

### 다음 시간엔?
While문과 For문을 통해 반복문을 공부하고 반복문을 통해 예제를 풀어볼거에요! 정말 신나죠?